 html,
 body {
     overflow-x: hidden;
     margin: 0;
     padding: 0;
 }

 img {
     max-width: 90%;
     height: auto;
 }

 .container {
     max-width: 100%;
     padding: 0 15px;
 }

 .container-fluid {
     background-color: #4CAF50;
     padding: 10px;
 }

 .row {
     margin-left: 0;
     margin-right: 0;
 }

 .col-lg-6,
 .col-12 {
     padding-left: 0px;
     padding-right: 0px;
 }

 .titleCity,
 .titleCountry,
 .why,
 .facts {
     font-family: 'Segoe UI', sans-serif;
     font-weight: 400;
     text-align: center;
     padding-top: 10px;
 }

 .img-fluid {
     display: block;
     width: 100%;
     margin: 0;
 }

 img:hover {
     transform: scale(1.05);
     transition: transform 0.3s ease;
     box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
 }

 .dubaiInfo,
 .whyInfo,
 .factsInfo {
     color: #000;
     text-align: justify;
     font-family: 'Roboto', sans-serif;
     font-size: 1rem;
     line-height: 1.5;
     padding: 1.25rem;
 }

 .footer {
     text-align: center;
     padding: 1rem;
 }

 .nav-link {
     padding: 10px 15px;
     position: relative;
     transition: color 0.3s ease;
 }

 .nav-link:hover {
     color: yellow;
 }

 @media (max-width: 768px) {

     .dubaiInfo,
     .whyInfo,
     .factsInfo {
         font-size: 0.9rem;
         padding: 1rem;
     }
 }