body {
    overflow-x: hidden;
    background-color: #262949;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #8a8fa3;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #32333c;
    margin: 0px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px;
}

@media (max-width: 767px) {
    p {
        font-size: 15px;
    }
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*===== All Button Style =====*/
.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #754ef9;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    background-color: #754ef9;
    text-transform: uppercase;
}

.main-btn:hover {
    background-color: #fff;
    color: #754ef9;
    border-color: #754ef9;
}

.main-btn.main-btn-2 {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.main-btn.main-btn-2:hover {
    background-color: #754ef9;
    color: #fff;
    border-color: #754ef9;
}

.navigation {
    -webkit-box-shadow: 0px 0px 29px 0px rgba(134, 134, 134, 0.25);
    -moz-box-shadow: 0px 0px 29px 0px rgba(134, 134, 134, 0.25);
    box-shadow: 0px 0px 29px 0px rgba(134, 134, 134, 0.25);
    padding: 30px 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation.sticky {
    padding: 20px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar {
    padding: 0;
    position: relative;
}

.navigation .navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 5px;
}

.navigation .navbar .navbar-toggler {
    padding: 2px 6px;
}

.navigation .navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #32333c;
    margin: 5px 0;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

.section-title .title {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .section-title .title {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 158%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 99;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(134, 134, 134, 0.15);
        -moz-box-shadow: 0px 10px 15px 0px rgba(134, 134, 134, 0.15);
        box-shadow: 0px 10px 15px 0px rgba(134, 134, 134, 0.15);
        padding: 3px 12px;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 158%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 99;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(134, 134, 134, 0.15);
        -moz-box-shadow: 0px 10px 15px 0px rgba(134, 134, 134, 0.15);
        box-shadow: 0px 10px 15px 0px rgba(134, 134, 134, 0.15);
        padding: 3px 12px;
    }
}

.navigation .navbar .navbar-nav .nav-item {
    margin-left: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin: 4px 0;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin: 4px 0;
    }
}

.navigation .navbar .navbar-nav .nav-item:first-child {
    margin-left: 0;
}

.navigation .navbar .navbar-nav .nav-item a {
    text-transform: uppercase;
    font-size: 16px;
    color: #8a8fa3;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar .navbar-nav .nav-item a::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 0;
    background-color: #754ef9;
    left: 50%;
    top: -50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item a::before {
        display: none;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item a::before {
        display: none;
    }
}

.navigation .navbar .navbar-nav .nav-item.active a,
.navigation .navbar .navbar-nav .nav-item:hover a {
    color: #754ef9;
    font-weight: 700;
}

.navigation .navbar .navbar-nav .nav-item.active a::before,
.navigation .navbar .navbar-nav .nav-item:hover a::before {
    height: 45px;
}

.header-content {
    height: 730px;
    width: 100%;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    background-color: #fbfbfb;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-content {
        height: 550px;
    }
}

@media (max-width: 767px) {
    .header-content {
        height: 550px;
    }
}

.header-content .header-shape {
    position: absolute !important;
}

.header-content .header-shape.shape-one {
    top: 0 !important;
    left: 0 !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-one img {
        width: 40px;
    }
}

.header-content .header-shape.shape-tow {
    top: -18px !important;
    left: 20% !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-tow img {
        width: 40px;
    }
}

.header-content .header-shape.shape-three {
    top: 0 !important;
    left: 40% !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-three img {
        width: 100px;
    }
}

.header-content .header-shape.shape-fore {
    top: 28px !important;
    right: 7.6% !important;
    left: auto !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-fore img {
        width: 40px;
    }
}

.header-content .header-shape.shape-five {
    right: 30px !important;
    bottom: 35% !important;
    left: auto !important;
    top: auto !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-five {
        right: 20px !important;
        bottom: 48% !important;
    }
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-five img {
        width: 40px;
    }
}

.header-content .header-shape.shape-six {
    top: 44% !important;
    left: 13% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-six img {
        width: 40px;
    }
}

.header-content .header-shape.shape-seven {
    left: 30px !important;
    bottom: 50px !important;
    top: auto !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-seven {
        left: 15px !important;
        bottom: 25px !important;
    }
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-seven img {
        width: 100px;
    }
}

.header-content .header-shape.shape-eight {
    left: 90px !important;
    bottom: 140px !important;
    top: auto !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-eight {
        left: 50px !important;
        bottom: 70px !important;
    }
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-eight img {
        width: 100px;
    }
}

.header-content .header-shape.shape-nine {
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 28px !important;
    top: auto !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-nine {
        left: 65% !important;
        bottom: 20px !important;
    }
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-nine img {
        width: 100px;
    }
}

.header-content .header-shape.shape-ten {
    right: 30px !important;
    bottom: 5px !important;
    left: auto !important;
    top: auto !important;
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-ten {
        right: 0px !important;
        bottom: 140px !important;
    }
}

@media (max-width: 767px) {
    .header-content .header-shape.shape-ten img {
        width: 100px;
    }
}

.header-content-right {
    position: relative;
}

.header-content-right .sub-title {
    font-size: 30px;
    color: #754ef9;
    text-transform: uppercase;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .header-content-right .sub-title {
        font-size: 24px;
    }
}

.header-content-right .title {
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .header-content-right .title {
        font-size: 38px;
    }
}

.header-content-right p {
    padding-bottom: 40px;
}

.header-image {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
}

.header-image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 82%;
    border: 20px solid #754ef9;
    border-bottom: 0;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    background-color: #754ef9;
    left: 0;
    bottom: 58px;
    z-index: 11;
}

.header-image img {
    position: relative;
    z-index: 5;
}

.header-social {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 100%;
}

.header-social .header-social-icon {
    position: relative;
}

.header-social .header-social-icon::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #754ef9;
    left: -102.5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-social .header-social-icon ul li {
    display: inline-block;
    margin-left: 13px;
}

.header-social .header-social-icon ul li:first-child {
    margin-left: 0;
}

.header-social .header-social-icon ul li a {
    color: #ccc;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.header-social .header-social-icon ul li a:hover {
    color: #fff;
    background-color: #754ef9;
    border-color: #754ef9;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area {
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .about-area {
        padding-top: 70px;
        padding-bottom: 80px;
    }
}

.about-content .about-title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.about-content ul {
    padding-top: 15px;
}

.about-content ul li {
    width: 50%;
    float: left;
    margin-top: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .about-content ul li {
        width: 100%;
        float: none;
    }
}

@media (max-width: 767px) {
    .about-content ul li {
        width: 100%;
        float: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-content ul li {
        width: 50%;
        float: left;
    }
}

.about-content .single-info .info-icon i {
    font-size: 16px;
    color: #754ef9;
}

.about-content .single-info .info-text {
    padding-left: 13px;
}

.about-content .single-info .info-text p span {
    color: #32333c;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .project-area {
        padding-top: 90px;
        padding-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .project-area {
        padding-top: 70px;
        padding-bottom: 80px;
    }
}

.single-project {
    position: relative;
}

.single-project .project-image img {
    width: 100%;
}

.single-project .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 229, 236, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-project .project-overlay .project-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single-project .project-overlay .project-content .project-title {
    font-size: 22px;
    color: #fff;
    font-weight: 60;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}

.single-project .project-overlay .project-content ul {
    position: relative;
    padding-top: 20px;
}

.single-project .project-overlay .project-content ul::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
}

.single-project .project-overlay .project-content ul li {
    display: inline-block;
    margin: 0 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}

.single-project .project-overlay .project-content ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-project .project-overlay .project-content ul li a:hover {
    background-color: #fff;
    color: #754ef9;
}

.single-project .project-overlay .project-content ul li:nth-of-type(1) {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.single-project .project-overlay .project-content ul li:nth-of-type(2) {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.single-project:hover .project-overlay {
    opacity: 1;
    visibility: visible;
}

.single-project:hover .project-overlay .project-content .project-title {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.single-project:hover .project-overlay .project-content ul li {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}