@import url('https://fonts.cdnfonts.com/css/flash-rogers');

:root {
  --font-family: 'Flash Rogers', sans-serif;
  --font-family-lead: 'Roboto', sans-serif;
  --color: white;
  --font-title-size: 40px;
  --font-heading-size: 33px;
  --font-heading-sm-size: 25px;
  --font-body-size: 18px;
  --font-body-sm-size: 14px;
  --font-footer-size: 10px;
}