@import url('https://fonts.cdnfonts.com/css/flash-rogers');

:root {
  --font-family: 'Flash Rogers', sans-serif;
  --font-family-lead: 'Roboto', sans-serif;
  --color: white;
  --font-title-size: 50px;
  --font-footer-size: 10px;
  --font-body-size: 18px;
}

body {
  overflow-x:hidden;
}

.navbar {
  background-color:rgb(209, 50, 50) !important;
}

.card {
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  background: transparent;
  padding: 0 !important; 
}

.card img {
  display: block;       
  width: 100%;
  height: auto;
  border-radius: 0;
  margin: 0;
  padding: 0;
}


.logo img {
  width: 120px;
  height: auto;
}

.home, .suits, .about {
  font-family: var(--font-family);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px; 
  font-size: 30px;
}


.animate-up-asynch {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate-up-asynch.show {
  opacity: 1;
  transform: translateY(0);
}

.title {
  font-family: var(--font-family);
  font-size: var(--font-title-size);
}

.lead {
  font-family: var(--font-family-lead);
   font-size: var(--font-body-size);
}

.discover {
  font-family: var(--font-family);
  font-size: 30px;
}

.ironSpider {
  height: 500px;
  width: auto;
  transition: opacity 0.2s ease;
  transition: opacity 0.2s ease-in-out;
}

.check {
  font-family: var(--font-family);
}

.owner {
  font-family: var(--font-family-lead);
  font-size: 20px;
}

.disclaimer {
  font-family: var(--font-family-lead);
  font-size: 16px;
}

.owner {
  font-size: var(--font-footer-size) !important;
}

.disclaimer {
  font-size: var(--font-footer-size) !important;
}

.hover-img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .hover-img {
    max-height: 500px;
  }
}