body {
  overflow-x:hidden;
}

.card {
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  background: transparent;
  padding: 0 !important; 
}

.card img {
  display: block;       
  width: 100%;
  height: auto;
  border-radius: 0;
  margin: 0;
  padding: 0;
}



.logo img {
  width: 120px;
  height: auto;
}

.home, .personal, .about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.box-lg {
  height: 300px;
}

.box-md {
  height: 150px;
}

.box-sm {
  height: 100px;
}


