.container-fluid {
    background-color: #4CAF50;
    padding: 10px;
}

body, html {
    overflow-x: hidden;
}


.foodInfo1, .foodInfo2, .foodInfo3{
    padding-top: 10px;
    font-size: 20px;
    text-align: start;
}

@media (max-width: 768px) {
    .foodInfo1, .foodInfo2 {
        padding: 10px;
    }
}

.row {
    margin: 0;
    padding: 0;
}


.nav-link {
    position: relative; 
    transition: color 0.3s ease; 
}

.nav-link::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 2px; 
    background-color: white; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.nav-link:hover {
    color: yellow; 
}

.nav-link:hover::after {
    transform: scaleX(1); 
}

.title, .tabName {
    text-align: center; 
    padding-top: 10px;
    font-family: Segoe UI;
    font-weight: 400px;
}

/* .foodInfo1, .foodInfo2, .foodInfo3{
    color: #000;
    text-align: justify;
    font-family: Roboto; 
    font-size: 1rem; 
    line-height: 1.5; 
    padding: 20px 10px; 
    padding-top: 0;
    margin: 30px 30px;
    margin-top: 20px;
} */

.note {
    font-style: italic;
    margin-top: 20px;
    text-align: justify;
}

    
footer {
    text-align: center;
    text-align: center;
    padding: 20px;
}
