html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
}

body {
    background-color: white;
}


.navbar {
    background-color: #45c22ce5 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.3s ease;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px;
    max-width: 100%;
}

.navbar.shrink {
    padding: 5px 0;
    background-color: #45c22ce5 !important;
    font-size: 14px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 0;
        flex-direction: column;
    }

    .navbar a {
        font-size: 14px;
    }
}

.navbar-brand {
    color: white !important;
}
.navbar-nav .nav-link {
    color: white !important;
}


.navbar-collapse .nav-link,
.navbar-brand,
.navbar-collapse .form-control,
.navbar-collapse .btn {
    color: white !important;
}

.navbar-collapse .nav-link.disabled {
    color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-collapse .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-collapse .btn {
    border-color: white !important;
}

.welcome-title {
    font-weight: bold;
    margin-top: 80px;
    padding-bottom: 20px;
}

.message-title {
    font-size: 21px;
}

.intro-title {
    font-weight: bold;
}

.mouse,
.keyboard,
.headphones,
.monitor,
.stand,
.table,
.chair,
.mic,
.speaker {
    font-size: 28px;
}

.mouse-info,
.keyboard-info,
.headphones-info,
.monitor-info,
.stand-info,
.table-info,
.chair-info,
.mic-info,
.speaker-info {
    font-size: 23px;

}

.custom-video-container {
    position: relative;
    width: 1760px;
    height: 800px;
    margin: 0 auto;
}

.custom-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .custom-video-container {
        width: 80%;
        height: auto;
        padding-top: 37.5%;
        max-width: 100%;
    }
}