.BINI-logo img{
    max-width: 75px;
}

.navbar {
    background-color: transparent !important;
}

.nav-item {
    font-family: Roboto;
    font-style: bold;
    font-size: 20px;
}

.header {
width: 100%;
height: auto;
overflow-x: hidden;
position: relative;
}

.header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    margin-top: 0; 
    z-index: -1;
    display:block;
}

@media (max-width: 768px) {
    .BINI {
        text-align: center; 
    }

    .name, .birthday {
        text-align: center; 
    }
}

.pics img {
    max-width: 100%;  
    height: auto;     
}

.hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
    border: 1px solid #dd228c; 
}

