#body {
    background-color: #262949;
}

.custom-navbar {
    background-color: #323A95 !important;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.heading {
    font-family: Arial, Helvetica, sans-serif, serif;
    color: white;
    text-align: center;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 20px;
    justify-content: center; 
    max-width: 100%; 
    overflow-x: hidden; 
}

.card {
    width: calc(25% - 30px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.imgcontainer img {
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 30px); 
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 30px); 
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

.badge.active {
    background-color: red; 
    color: white; 
  }
  
  .pagination-button {
    background-color: #262949;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-button:disabled {
    background-color: #444466;
    cursor: not-allowed;
  }
  
  .pagination-button:hover:not(:disabled) {
    background-color: #1f1f33;
  }
  

  .nav-link {
    position: relative; 
    transition: color 0.3s ease; 
}

.nav-link::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 2px; 
    background-color: red; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.nav-link:hover {
    color: red; 
}

.nav-link:hover::after {
    transform: scaleX(1); 
}
