#body {
    background-color: #262949;
}

.custom-navbar {
    background-color: #323A95 !important;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.heading {
    font-family: Arial, Helvetica, sans-serif, serif;
    color: white;
    text-align: center;
}

.carousel-inner {
    position: relative; 
    width: 100%; 
    max-height: 800px; 
    overflow: hidden; 
}

.carousel-inner img {
    margin-top: 20px;
    width: 100%; 
    height: auto;
    max-height: 800px; 
    object-fit: cover; 
}
